<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">  
  <h1 class="h2">Alunos na Turma</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>


<p id="notice"><%= notice %></p>

<h5><%= @turma.nome_turma %></h5>

<br>


<table class='table table-bordered'>

  <tbody>
    <% @pessoas.each do |pessoa| %>
      <tr>
          <td><h6 style='padding-left: 20px;'><%= link_to pessoa.primeiro_nome, pessoa_editar_crianca_path(pessoa_id: pessoa)  %> <spam class='tile-crianca'><%= pessoa.sexo %> com <%= pessoa.idade %> anos</spam></h6></td>
          <td width='10px'>
            <%= link_to 'Histórico', historico_path(pessoa_id: pessoa), class: 'btn btn-success btn-sm' %>
          </td>           
      </tr>
    <% end %>
  </tbody>
</table>